body {
    height: 320px;
    margin: 0;
    color: #222;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 120, 215);
    background: linear-gradient(0deg, rgba(0, 120, 215, 1) 0%, rgb(3, 106, 165) 100%);
  }
  
  .initial,.selectProject,.displayTasks {
    background: white;
    width: 400px;
    height: 300px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 16px #222;
  }
  
  .content-bottom {
    margin: 10px 0;
  }
  
  .content-top{
    height: 150px;
  }

  h1 {
    font-family: 'Arvo', serif;
    font-size: 26px;
    margin: 32px auto 24px;
    line-height: 20px;
  }
  
  .img-logo {
    margin-top: 32px;
    width: 120px;
    height: 120px;
  }
  
  .btn {
    text-decoration: none;
    display: block;
    width: 220px;
    padding-top: 2px;
    border-radius: 20px;
    color: white;
    background: rgba(0, 120, 215, 1);
    margin: 0 auto;
    border: none;
    font-size: 14px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .btn2{
    text-decoration: none;
    display: block;
    width: 180px;
    padding-top: 2px;
    border-radius: 20px;
    color: white;
    background: rgba(0, 120, 215, 1);
    margin: 0 auto;
    border: none;
    font-size: 14px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 70%;
    margin: 10px;
    white-space: pre-line;
  }
.btn:hover{
    width: 240px;
}
.btn2:hover{
  width: 200px;
}
.btn::before,.btn2::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fff;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn:hover::before,.btn2:hover::before{
    height: 180%;
}

.createdProjects{
  margin: 10px;
  height: 200px;
  float: center;
}
.addProject{
  float: bottom;
  margin: 10px 0;
}
.projectDetails{
  float: left;
  margin: 10px 0;
  height: 70%;
}
.addButton{
  float: right;
  margin: 10px 0;
}

.textField{
  margin-left: 10px;
}

.deleteProj,.callAPI{
  text-decoration: none;
    display: block;
    width: 55px;
    padding-top: 2px;
    border-radius: 4px;
    color: white;
    background: rgba(0, 120, 215, 1);
    margin: 0 auto;
    border: none;
    font-size: 14px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.deleteProj:hover,.callAPI:hover{
  width: 60px;
}
.deleteProj::before,.callAPI::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fff;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.deleteProj:hover::before,.callAPI:hover::before{
  height: 180%;
}

.tableProj{
  margin: 10px;
  font-size: 14px;
  width: 360px;
  float: inline-end;
}
.tableProj thead{
  background: rgba(0, 120, 215, 1);
  color: #fff;
}

.tableProj tbody{
  display: block;
  height: 150px;
  overflow-y: auto;
}

.tableProj tr{
  display: block;
}

th,td{
  width: 120px;
}